@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* letter-spacing: 0.5px; */
}

body {
  font-family: "Playfair Display", sans-serif;
}

h1{
  font-size: 72px;
  
}

h2{
  font-size: 48px;
}

h1,h2,h3 {
  color: #3F4F44;
}

p{
  color: #705C53;
}

.link-project {
  color: #705C53;
  text-align: justify;
  word-break: break-all; /* Forces breaking at any character */
  overflow-wrap: break-word; /* Ensures long words break correctly */
  white-space: normal; /* Allows wrapping */
  display: inline-block; /* Prevents overflow */
  max-width: 100%; /* Ensures it stays within container */
}

.link-project:hover {
  color: rgb(208, 179, 164)
}

.sub-title-project{
  margin: 10px 0;
}

.ant-tag{
  font-family: "Playfair Display", sans-serif;
}

/* ProjectList */
.content-project {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  gap: 15px;
}

.column-project {
  flex: 1;
  min-width: 300px; 
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 0;
}

@media (max-width: 768px) {
  .content-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    gap: 0px; /* Removes gap when stacked */
  }
}
/* ProjectList END */

.logo-contact{
  width: 64px;
  max-width: 64px;
  margin-right: 24px;
}

@media only screen and (max-width: 500px) {
  h1{
    font-size: 52px;
  }
  
  h2{
    font-size: 32px;
  }
  .logo-contact{
    width: 48px;
    margin-right: 10px;

  }
}

.main-section{
  margin-right:200px;
  margin-left: 5%;
  padding:50px;
}

#about-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

html {
  scroll-behavior: smooth;
}

.ant-message{
  z-index: 10050;
}

/* .logo-general{
  margin: 0 10px;
} */


@media only screen and (max-width: 700px) {
  .main-section{
    margin-right: 0;
    margin-left: 0;
    padding: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .main-section{
    margin-right: 0;
    margin-left: 0;
    padding: 30px;
  }
}
@media only screen and (max-width: 900px) {
  .main-section{
    margin-left: 0;
  }
  #about-section{
    height: 100vh;
    min-height: 700px;
    justify-content: center;
  }
}
@media only screen and (max-height: 590px) {
  #about-section{
    height: auto;
    min-height: 700px;

  }
}

@keyframes typing-first {
  0.0000% { content: ""; }
  11.111% { content: "M"; }
  22.222% { content: "Mu"; }
  33.333% { content: "Muh"; }
  44.444% { content: "Muha"; }
  55.555% { content: "Muham"; }
  66.666% { content: "Muhamm"; }
  77.777% { content: "Muhamma"; }
  88.888% { content: "Muhammad"; }
  100% { content: "Muhammad"; border-right: none; }
}

@keyframes typing-more {
  0.0000% { content: ""; }
  7.6923% { content: "N"; }
  15.3846% { content: "Na"; }
  23.0769% { content: "Nau"; }
  30.7692% { content: "Nauf"; }
  38.4615% { content: "Naufa"; }
  46.1538% { content: "Naufal"; }
  53.8461% { content: "Naufal "; }
  61.5384% { content: "Naufal G"; }
  69.2307% { content: "Naufal Gh"; }
  76.9230% { content: "Naufal Gho"; }
  84.6153% { content: "Naufal Ghoz"; }
  92.3076% { content: "Naufal Ghozi";  }
  100% { content: "Naufal Ghozi";  }
}

@keyframes blink {
  0%, 100% { opacity: 0; border-right: 0;}
  50% { opacity: 1; border-right: 1px solid #3F4F44;  }
}

.first-name {
  --caret: currentcolor;
  /* animation-fill-mode: forwards; */
}

.first-name::before {
  content: "";
  animation: typing-first 1.6s forwards;
}

.first-name::after {
  content: "";
  animation: blink 0.5s 1;
}

.more-name{
  --caret: currentcolor;
}

.more-name::before {
  content: "";
  animation: typing-more 2.4s forwards;
  animation-delay: 1.6s;
}

.more-name::after {
  content: "";
  animation: blink 0.5s infinite;
  animation-delay: 1.6s;
}



/* .logo-contact:hover {
  width: 64px;
} */

