@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* letter-spacing: 0.5px; */
}

body {
  font-family: "Playfair Display", sans-serif;
}

h1{
  font-size: 72px;
}

h2{
  font-size: 48px;
}

h1,h2,h3 {
  color: #3F4F44;
}

p{
  color: #705C53;
}

.link-project {
  color: #705C53;
  text-align: justify;
  word-break: break-all; /* Forces breaking at any character */
  overflow-wrap: break-word; /* Ensures long words break correctly */
  white-space: normal; /* Allows wrapping */
  display: inline-block; /* Prevents overflow */
  max-width: 100%; /* Ensures it stays within container */
}

.link-project:hover {
  color: rgb(208, 179, 164)
}

.sub-title-project{
  margin: 10px 0;
}

.ant-tag{
  font-family: "Playfair Display", sans-serif;
}

/* ProjectList */
.content-project {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  gap: 15px;
}

.column-project {
  flex: 1;
  min-width: 300px; 
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 0;
}

@media (max-width: 768px) {
  .content-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    gap: 0px; /* Removes gap when stacked */
  }
}
/* ProjectList END */


@media only screen and (max-width: 500px) {
  h1{
    font-size: 52px;
  }
  
  h2{
    font-size: 32px;
  }
}

.main-section{
  margin-right:200px;
  margin-left: 5%;
  padding:50px;
}

#about-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

html {
  scroll-behavior: smooth;
}

.ant-message{
  z-index: 10050;
}

/* .logo-general{
  margin: 0 10px;
} */
@media only screen and (max-width: 700px) {
  .main-section{
    margin-right: 0;
    margin-left: 0;
    padding: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .main-section{
    margin-right: 0;
    margin-left: 0;
    padding: 30px;
  }
}
@media only screen and (max-width: 900px) {
  .main-section{
    margin-left: 0;
  }
  #about-section{
    height: auto;
    min-height: 700px;
  }
}
@media only screen and (max-height: 590px) {
  #about-section{
    height: auto;
    min-height: 700px;

  }
}


